<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.biometricthings">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiometricThings"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Roles.EntregaPracticasActivity"
            android:exported="false" />
        <activity
            android:name=".Roles.ListaPracticasDisponibles"
            android:exported="false" />
        <activity
            android:name=".Profesor.MostrarAntalesIndividual"
            android:exported="false" />
        <activity
            android:name=".Profesor.HaciendaActivity"
            android:exported="false" />
        <activity
            android:name=".Profesor.AnualActivity"
            android:exported="false" />
        <activity
            android:name=".Profesor.TrimestralActivity"
            android:exported="false" />
        <activity
            android:name=".Profesor.SubidaPracticas"
            android:exported="false" />
        <activity
            android:name=".Profesor.PrevisualizarPracticaActivity"
            android:exported="false" />
        <activity
            android:name=".Profesor.MostrarAlumnoIndividualActivity"
            android:exported="false" />
        <activity
            android:name=".Register.EntrarClaseActivity"
            android:exported="false" />
        <activity
            android:name=".Profesor.CrearClaseActivity"
            android:exported="false" />
        <activity
            android:name=".Profesor.SeleccionaClaseActivity"
            android:exported="false" />
        <activity
            android:name=".Register.ConfirmacionProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".Roles.MostrarEmpresaIndividualActivity"
            android:exported="false" />
        <activity
            android:name=".PDF.LoadPDFActivity"
            android:exported="false" />
        <activity
            android:name=".PDF.ReadPDFActivity"
            android:exported="false" />
        <activity
            android:name=".Roles.EspecificacionesEmpresa"
            android:exported="false" />
        <activity
            android:name=".Roles.UneteEmpresaActivity"
            android:exported="false" />
        <activity
            android:name=".Roles.CreaEmpresaActivity"
            android:exported="false" />
        <activity
            android:name=".SplashArt.SplashArtActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Propiedades.MostrarPropiedadActivity"
            android:exported="false" />
        <activity
            android:name=".Propiedades.PropiedadesActivity"
            android:exported="false" />
        <activity
            android:name=".Notificacion.NotificacionActivity"
            android:exported="false" />
        <activity
            android:name=".Test.ConfirmacionTestActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RetrofitThings.PreLogInANDSingUpActivity"
            android:exported="false" />
        <activity
            android:name=".Register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Test.TestActivity"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="false" />
        <activity
            android:name=".JWTActivity"
            android:exported="false" />
        <activity
            android:name=".BiometricsActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>